////////////////////////////////
// Defining global variables //
////////////////////////////////
$primaryColor: #417D7A;
$secondaryColor: #1D5C63;
$backgroundColor: #1A3C40;
$backgroundColorTransparency: #417d7a78;
$fontColor: #f0f0f0;