*{
    margin: 0px;
    padding: 0px;
    transition-duration: 0.1s;
    box-sizing: border-box;
}

.main-container{
    background-color: $backgroundColor;
    // Pendiente ajustar alto minimo una vez se defina altura de footer y header
    min-height: 70vh;
}