.landpage--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.118);
    height: 100vh;
    z-index: 1;
}

.landpage--main-img{
    width: 100%;
    height: 100vh;
    z-index: 0;
    object-fit: cover;
}

.landpage--main-body{
    position: absolute;
    background-color: $backgroundColorTransparency;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

/* .perks{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .single-perk{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 20px;
        border-radius: 10px;
        width: 80%;
        height: 250px;
        background: #E3E6EC;
        box-shadow: 4.5px 4.5px 5px #D1D9E6, -4.5px -4.5px 5px #FFFFFF;
    }
    .single-perk > img,p,h2 {
        margin: 5px;
    }
} */