.place-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    gap: 30px;
    
}
.create--place{
    display: flex;
    justify-content: center;
}

.map-container-create-place{
    display: flex;
    height: 300px;
    width:300px;
}

