.place--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.place--form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.place-map-container{
height: 400px;
width: 400px;
border-radius: 2rem;
overflow: hidden;  
}
.place-header{
    display: flex;
    flex-direction: row;
}