.list--main--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list--container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 80px;
}

.list--row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}

.profileinfo--list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.list--img-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.list--name-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: $backgroundColor;
    box-shadow: 0 15px 10px inset $primaryColor;
    border-radius: 0px 0px 10px 10px;
}

.list--name{
    text-shadow: 0 0 2px $fontColor;
    color: $fontColor;
    text-align: center;
    cursor: pointer;

    &:hover{
        text-shadow: 0 0 5px $fontColor;
    }
}

.list--buttons{
    position: absolute;
    top: 0;
    right: 0;
    background-color: $backgroundColor;
    padding: 3px 7px;
    border-radius: 0px 10px 0px 5px;
    box-shadow: 0px 0px 10px inset $primaryColor;
    display: flex;
    flex-direction: row;
}

.list--button, .list--icon-add{
    cursor: pointer;
    margin-top: 2px;
    color: $fontColor;
    text-shadow: 0 0 2px $fontColor;

    &:hover{
        text-shadow: 0 0 10px $fontColor;
    }
}

.list--icon-add{
    color: $backgroundColor !important;
}

.list--container-button-submit{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.list--button-submit{
    width: 100%;
    background-color: $backgroundColor !important;
}