.discover--main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 70px;
    gap: 10%;

    @media (max-width:1024px) {
        padding-top: 150px;
    }
}

.discover--slot{
    margin: 20px 0px;
}