.header--main{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color:white;
    .header--title{
        font-family: 'Jost';
        cursor: pointer;
    }
    .header--menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .header--menu--item{
            margin-left: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .header--menu--item--logout{
                display: flex;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }
    @media (min-width:1024px) {
        padding: 1% 5%;
        height: 60px;
    }
    @media (max-width:500px) {
        .header--title{
            font-size: 0.5rem;
        }
        .header--menu{
            .header--menu--item{
                .header--menu--item--logout{
                    margin-left: 0.3rem;
                }
            }
        }
        
}}



