.profileinfo--main{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
}

.profileinfo--container{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.profileinfo--list{
    display: flex;
    flex-direction: column !important;
    list-style: none;
    margin-bottom: 10px;
}

.profileinfo--field{
    font-weight: bolder;
}

.profileinfo--submit-button{
    background-color: $backgroundColor !important;
}