.footer--main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: $backgroundColor;
    color: $fontColor;
    box-shadow: 0 0 10px inset $primaryColor;
}

.footer--body-superior, .footer--body-inferior{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;

    @media (max-width:350px) {
        gap: 10px;

        .footer--link{
            font-size: 15px;
        }
    }
}

.footer--body-inferior{
    flex-direction: column;
    padding-top: 4px;
}

.footer--social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer--container-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer--link{
    color: $fontColor;
    text-decoration: none;
    font-size: 20px;
}