.itinerary-container {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.itinerary-header {
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  &::before{
    position:absolute;
    height: 1.4rem;
    width: 80%;
    margin-top: 3rem;
    border-radius: 2rem;
    left: 0;
    content: "";
    background-color: #1a3c401d;
  }
}

.itinerary-description{
  text-align: center;
  padding-bottom: 2rem;
}
.itinerary-map {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  .itinerary-place-list {
    width: 20%;
    display: flex;
    justify-content: center;
    
   
  }
  .itinerary-map-container {
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    overflow: hidden;
  }
  .itinerary-start-end {
    display:flex;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .itinerary-map {
    flex-flow: column;
    .itinerary-place-list {
      width: 100%;
      order:2;
    }
    .itinerary-map-container {
      border-radius: 0;
      height: 300px;
      width: 100%;
    }
  }
}

